@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: #FDFFB6;
}
nav {
    display: flex;
    margin-left: 100px;
    justify-content: space-around;
}
nav a {
    text-align: center;
    text-decoration: none;
    color: rgb(107,43,113);
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    background-color: white;
    transition: transform .5s;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100px;
    box-shadow: 5px 5px 10px rgb(185, 180, 180);
    padding: 55px;
}
nav a:hover {
    transform: scale(1.1);
}
header {
    background-color: #CAFFBF;
    display: grid;
    grid-template-columns: 200px auto;
    height: 230px;
    margin-bottom: 100px;
}
#logo_link {
    width: 300px;
    text-decoration: none;
}
.name {
    color: rgb(107,43,113);
    margin-top: -45px;
    font-family: 'Irish Grover', cursive;
    margin-right: 15px;
    text-align: center;
}
.logo {
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 15px;
}
.hero {
    display: grid;
    grid-template-columns: 45% 1fr;
}
.hero-image-box {
    grid-column: 2/3;
    padding-top: 30px;
}
.hero-text-box {
    grid-column: 1/2;
    grid-row: 1;
    text-align: center;
    padding: 30px;
}
.hero-image {
    width: 100%;
    height: 100%;
    border: 5px solid rgb(107,43,113);
}
.hero-text {
    font-family: 'Varela Round', sans-serif;
    line-height: 3em;
}
.hero-text-box h1 {
    font-family: 'Irish Grover', cursive;
    font-size: 2em;
}
.bouquets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.popular-bouquets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 50px;
}
.bouqet1 {
    grid-column: 1/2;
    grid-row: 1;
    font-family: 'Varela Round', sans-serif;
}
.bouqet2 {
    grid-column: 2/3;
    grid-row: 1;
    font-family: 'Varela Round', sans-serif;
}
.bouqet3 {
    grid-column: 3/4;
    grid-row: 1;
    font-family: 'Varela Round', sans-serif;
}
.bouquet4 {
    grid-column: 1/2;
    grid-row: 2;
    font-family: 'Varela Round', sans-serif;
}
.bouqet5 {
    grid-column: 2/3;
    grid-row: 2;
    font-family: 'Varela Round', sans-serif;
}
.bouqet6 {
    grid-column: 3/4;
    grid-row: 2;
    font-family: 'Varela Round', sans-serif;
}
.bouquet-img {
    width: 100%;
    height: 60%;
    border: 5px solid rgb(107,43,113);
}
footer {
    background-color: #CAFFBF;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
    color: rgb(107,43,113);
}
.bouquet-text {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}
button {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 40px;
    border-radius: 3px;
    font-size: 1.3em;
    background-color: white;
    transition: transform .5s;
    box-shadow: 5px 5px 10px rgb(185, 180, 180);
    grid-row: 2;
}
button:hover {
    transform: scale(1.1);
}
